{% extends 'baseEmail.html.twig' %}

{% block title %}
    New episode
{% endblock title %}

{% block main %}
    <h1>New episode "{{ episode.title }}" created</h1>
    <p>Hello, the episode number {{ episode.number }} of {{ episode.season.program.title }} has been created on Wild Series</p>
    <a href="http://127.0.0.1:8000/programs/{{ episode.season.program.slug }}">Lien vers la série</a>
{% endblock main %}
