@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
$background: #FFBECE94;
$background-element: #FF9797;

$font-family-base: 'Handlee', cursive;
$body-bg: $background;

$dropdown-bg: $background-element;
$dropdown-link-hover-bg: $background;
$light: $background;

@import "~bootstrap/scss/bootstrap";