@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

$background: #FFBECE94;
$background-element: #FF9797;

$font-family-base: 'Handlee', cursive;
$body-bg: $background;

$dropdown-bg: $background-element;
$dropdown-link-hover-bg: $background;
$light: $background;
$card-bg: $background;
$card-border-radius: 10px;

.card {
  box-shadow: 3px 3px 3px gray;
}

.img-size {
  width: 20px;
}

.btn-heart:hover {
  background-color: $background;
}

.card-title {
  border: solid 2px gray;
  display: inline-block;
  background-color: $background-element;
  padding: 5px;
  box-shadow: 2px 2px 2px gray;
  border-radius: 5px;
}

.watchlist {
  margin: 5px;
  color: #B0413E;
}

@import "~bootstrap/scss/bootstrap";